aside,
div,
footer,
header,
main,
nav,
section {
    display: block
}

* {
    font-family: 'ABeeZee', sans-serif;
}

#logo {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/logo.png);
    background-size: contain;
    height: 65px;
    width: 200px;
    background-repeat: no-repeat;
}


.navbar-top {
    background-color: #d9f3d2;
}

.navbar-second {
    background-color: #4cd964;
    padding: 0 1rem;
}

.navbar-therd {
    padding: 0 1rem;
}

.selected {
    background-color: #62c462;
}

.crumb {
    background-color: #dfedd6;
    color: #7a7a7a;
}

.nav a {
    color: white;
    font-weight: bold;
}

.nav-link .active {
    color: black;
}

.navhover a:hover {
    color: #6d6d6d
}

@viewport {
    width: 480px;
    zoom: 1;
}

.current:after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    margin-top: 8px;
    margin-left: -10px;
    border-color: #62c462 transparent transparent transparent;
    z-index: 999;
}

main {
    margin: 1% 3%;
}

#main_station_info {
    margin: 1% 20.5%;
}

.table {
    margin-top: 20px;
}

.btn.btn-success {
    width: 100%;
    height: 100%;
}

/* always on bottom to overide settings */
@media only screen and (max-width: 600px) {
    body {
        background-color: #cfd6da;
    }

    tr :nth-child(4),
    tr :nth-child(5),
    tr :nth-child(6),
    tr :nth-child(7) {
        display: none;
    }

    .navbar-therd {
        display: none;
    }

    .col-4,
    .col-2 {
        max-width: 100% !important;
        margin: 10px 0px;
    }

    .form-row {
        display: block;
    }

    .form-control-smart {
        display: none;
    }

    .navbar-text-current {
        color: white !important;
    }

    #main_station_info {
        margin: 1% 5%;
    }

    #main_station_info .btn-warning {
        margin-bottom: 30px;
    }
}