aside,
div,
footer,
header,
main,
nav,
section {
    display: block
}

*{font-family: 'ABeeZee', sans-serif;}


  .navbar-light .navbar-brand{
      color: white;
      font-weight: bold;
  }

  .navbar-light .navSelcted{
    color: black;
}

.navbar-light{
    background-color: #d9f3d2;
}
.nav-link{
    background-color: #4cd964;
}

h1{
    text-align: center;
}
*a:hover{
    color:#a3a3a3
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #cfd6da;
    }

    #wrapper {
        width: 100%;
    }

    tr :nth-child(4),
    tr :nth-child(6) {
        display: none;
    }
}

@viewport {
    width: 480px;
    zoom: 1;
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 2px rgba(255,255,255,0.6), 
      0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
  }
  
  .inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
  }